#!/usr/bin/env bash
# add your own aliases + functions here or even better at ~/storage/shared/tel/tel_personal.sh

# Websites
alias router="tel-open -u http://192.168.1.1" # example router address
alias tel-wiki="tel-open -u https://github.com/t-e-l/tel/wiki/FAQ"

# SHELL
alias l="exa -alm@h --sort=changed --group-directories-first --icons --classify --git --color=auto --color-scale"
alias lt="exa -aT --sort=changed --group-directories-first --icons --classify --git --color=auto --color-scale"
alias ls="exa --sort=changed --group-directories-first --icons --classify --git --color=auto --color-scale"
#alias l='ls -lah'
#alias lst='ls -R | grep ":$" | sed -e '"'"'s/:$//'"'"' -e '"'"'s/[^-][^\/]*\//--/g'"'"' -e '"'"'s/^/ /'"'"' -e '"'"'s/-/|/'"'"''
alias pg='ping 8.8.8.8' # quick connection check
alias x='exit'
alias :q='exit'

# HARDWARE
alias w='tel-wifi'
alias wifi='tel-wifi'
alias won='tel-wifi on'
alias wof='tel-wifi off'
alias bright='termux-brightness'
alias torch='termux-torch'
alias ton='termux-torch on && echo "Torch Enabled"'
alias tof='termux-torch off && echo "Torch Disabled"'
alias battery='~/.tel/status/**/*battery.py'
alias storage='~/.tel/status/**/*storage.py'
alias network='~/.tel/status/**/*network.py'
alias cpu='~/.tel/status/**/*cpu_mem.sh'

# ROOT - (requires su binary preinstalled)
alias uninstall='su -c pm uninstall'
alias htop='su -c htop'
alias dmesg='su -c dmesg'

# DEMO
alias weather="curl v2.wttr.in/$LOCATION"
alias map="telnet mapscii.me"
alias tron="ssh sshtron.zachlatta.com"
alias starwars="telnet towel.blinkenlights.nl"
alias mud="tt++"
alias matrix="cmatrix"

# APPS
alias cam="app camera"
alias clock="app clock"
alias tele="app telegram"
alias vpn="app vpn"
alias vnc="app vnc"
alias sig="app signal"
alias tur="app turbo"
alias fdroid="app fdroid"

